{
  "openapi": "3.0.1",
  "info": {
    "title": "Agni API",
    "version": "1.0.0",
    "description": "Agni API for managing agents, tools, widget settings, telephony, and integrations."
  },
  "servers": [
    {
      "url": "https://api.ravan.ai"
    }
  ],
  "security": [
    {
      "X-Api-Key": []
    }
  ],
  "tags": [
    { "name": "AgentService" },
    { "name": "AgentToolService" },
    { "name": "WidgetSettingsService" },
    { "name": "PhoneService" },
    { "name": "AppointmentService" },
    { "name": "GHLService" },
    { "name": "CalComService" },
    { "name": "HealthService" }
  ],
  "paths": {
    "/api/v1/agents/{id}/": {
      "get": {
        "tags": ["AgentService"],
        "summary": "Get Agent",
        "operationId": "GetAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetAgentResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["AgentService"],
        "summary": "Update Agent",
        "operationId": "UpdateAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateAgentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateAgentResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["AgentService"],
        "summary": "Delete Agent",
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/api/v1/agents/": {
      "get": {
        "tags": ["AgentService"],
        "summary": "List Agents",
        "operationId": "ListAgents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "format": "int32" },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "format": "int32" },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListAgentsResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AgentService"],
        "summary": "Create Agent",
        "operationId": "CreateAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAgentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateAgentResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{id}/status/": {
      "patch": {
        "tags": ["AgentService"],
        "summary": "Update Agent Status",
        "operationId": "UpdateAgentStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateAgentStatusRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateAgentStatusResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools/{id}/": {
      "get": {
        "tags": ["AgentToolService"],
        "summary": "Get Agent Tool",
        "operationId": "GetAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Tool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetAgentToolResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["AgentToolService"],
        "summary": "Update Agent Tool",
        "operationId": "UpdateAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Tool ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateAgentToolRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateAgentToolResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["AgentToolService"],
        "summary": "Delete Agent Tool",
        "operationId": "DeleteAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Tool ID"
          }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/api/v1/tools/": {
      "get": {
        "tags": ["AgentToolService"],
        "summary": "List Agent Tools",
        "operationId": "ListAgentTools",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "format": "int32" },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "format": "int32" },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListAgentToolsResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AgentToolService"],
        "summary": "Create Agent Tool",
        "operationId": "CreateAgentTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAgentToolRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateAgentToolResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/widget-settings/{id}/": {
      "get": {
        "tags": ["WidgetSettingsService"],
        "summary": "Get Widget Settings",
        "operationId": "GetWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Widget Settings ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetWidgetSettingsResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["WidgetSettingsService"],
        "summary": "Update Widget Settings",
        "operationId": "UpdateWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Widget Settings ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWidgetSettingsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateWidgetSettingsResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["WidgetSettingsService"],
        "summary": "Deactivate Widget Settings",
        "operationId": "DeactivateWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Widget Settings ID"
          }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/api/v1/widget-settings/": {
      "get": {
        "tags": ["WidgetSettingsService"],
        "summary": "List Widget Settings",
        "operationId": "ListWidgetSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListWidgetSettingsResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["WidgetSettingsService"],
        "summary": "Create Widget Settings",
        "operationId": "CreateWidgetSettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWidgetSettingsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateWidgetSettingsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/available-numbers/{iso_country}/": {
      "get": {
        "tags": ["PhoneService"],
        "summary": "List Available Numbers",
        "operationId": "ListAvailableNumbers",
        "parameters": [
          {
            "name": "iso_country",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ISO country code (e.g. US, GB)"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": { "type": "integer", "format": "int32" },
            "description": "Number of results per page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Region filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListAvailableNumbersResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/buy/": {
      "post": {
        "tags": ["PhoneService"],
        "summary": "Buy Phone Number",
        "operationId": "BuyPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BuyPhoneNumberRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BuyPhoneNumberResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/{phone_number}/release/": {
      "delete": {
        "tags": ["PhoneService"],
        "summary": "Release Phone Number",
        "operationId": "ReleasePhoneNumber",
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The phone number to release (E.164 format, e.g. +12025551234)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReleasePhoneNumberResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/list": {
      "get": {
        "tags": ["PhoneService"],
        "summary": "List Purchased Numbers",
        "operationId": "ListPurchasedNumbers",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Region filter"
          },
          {
            "name": "iso_country",
            "in": "query",
            "schema": { "type": "string" },
            "description": "ISO country code filter"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListPurchasedNumbersResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/import/": {
      "post": {
        "tags": ["PhoneService"],
        "summary": "Import Phone Number",
        "operationId": "ImportPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImportPhoneNumberRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImportPhoneNumberResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/create/telephony/": {
      "post": {
        "tags": ["PhoneService"],
        "summary": "Create Telephony Type",
        "operationId": "CreateTelephonyType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTelephonyTypeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateTelephonyTypeResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/twilio-owned-numbers/": {
      "get": {
        "tags": ["PhoneService"],
        "summary": "List Twilio Owned Numbers",
        "operationId": "ListTwilioOwnedNumbers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListTwilioOwnedNumbersResponse" }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["HealthService"],
        "summary": "Health Check",
        "operationId": "HealthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "tags": ["HealthService"],
        "summary": "Readiness Check",
        "operationId": "ReadinessCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadyResponse" }
              }
            }
          },
          "503": {
            "description": "Service is not ready",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UnreadyResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/appointments/manage": {
      "post": {
        "tags": ["AppointmentService"],
        "summary": "Manage GHL Appointment",
        "operationId": "ManageGHLAppointment",
        "description": "Unified appointment management endpoint for GHL. Supports book, reschedule, cancel, suggest, and availability actions. No X-Api-Key required — org_id comes from the request body.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ManageAppointmentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ManageAppointmentResponse" }
              }
            }
          },
          "422": {
            "description": "Slot unavailable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SlotUnavailableResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/calcom/appointments/manage": {
      "post": {
        "tags": ["AppointmentService"],
        "summary": "Manage Cal.com Appointment",
        "operationId": "ManageCalcomAppointment",
        "description": "Unified appointment management endpoint for Cal.com. Supports book, reschedule, cancel, suggest, and availability actions. No X-Api-Key required — org_id comes from the request body.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ManageAppointmentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ManageAppointmentResponse" }
              }
            }
          },
          "422": {
            "description": "Slot unavailable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SlotUnavailableResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/appointments": {
      "get": {
        "tags": ["GHLService"],
        "summary": "List GHL Appointments",
        "operationId": "ListGHLAppointments",
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by agent ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by appointment status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "format": "int32", "default": 50, "maximum": 200 },
            "description": "Number of results to return (max 200)"
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Organization ID (fallback)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListGHLAppointmentsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/appointments/{appointment_id}": {
      "get": {
        "tags": ["GHLService"],
        "summary": "Get GHL Appointment",
        "operationId": "GetGHLAppointment",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Appointment ID"
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Organization ID (fallback)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetGHLAppointmentResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/oauth/authorize": {
      "get": {
        "tags": ["GHLService"],
        "summary": "GHL OAuth Authorize",
        "operationId": "GHLOAuthAuthorize",
        "description": "Redirects the user to the GoHighLevel OAuth authorization flow.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Your organization ID"
          }
        ],
        "responses": {
          "302": { "description": "Redirect to GHL OAuth" }
        }
      }
    },
    "/api/v1/ghl/oauth/callback": {
      "get": {
        "tags": ["GHLService"],
        "summary": "GHL OAuth Callback",
        "operationId": "GHLOAuthCallback",
        "description": "Handles the OAuth callback from GHL and redirects to the frontend.",
        "responses": {
          "302": { "description": "Redirect to frontend with success or failure flag" }
        }
      }
    },
    "/api/v1/ghl/setup/status": {
      "get": {
        "tags": ["GHLService"],
        "summary": "GHL Setup Status",
        "operationId": "GHLSetupStatus",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GHLSetupStatusResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/setup/calendars": {
      "get": {
        "tags": ["GHLService"],
        "summary": "List GHL Calendars",
        "operationId": "ListGHLCalendars",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListGHLCalendarsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/setup/agents/calendar/{calendar_id}": {
      "get": {
        "tags": ["GHLService"],
        "summary": "Get GHL Agent by Calendar",
        "operationId": "GetGHLAgentByCalendar",
        "parameters": [
          {
            "name": "calendar_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "GHL Calendar ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetGHLAgentByCalendarResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ghl/disconnect": {
      "post": {
        "tags": ["GHLService"],
        "summary": "Disconnect GHL",
        "operationId": "DisconnectGHL",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DisconnectResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/calcom/oauth/connect": {
      "get": {
        "tags": ["CalComService"],
        "summary": "Cal.com OAuth Connect",
        "operationId": "CalcomOAuthConnect",
        "description": "Redirects the user to the Cal.com OAuth authorization flow.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Your organization ID"
          }
        ],
        "responses": {
          "302": { "description": "Redirect to Cal.com OAuth" }
        }
      }
    },
    "/api/v1/calcom/oauth/callback": {
      "get": {
        "tags": ["CalComService"],
        "summary": "Cal.com OAuth Callback",
        "operationId": "CalcomOAuthCallback",
        "description": "Handles the OAuth callback from Cal.com and redirects to the frontend.",
        "responses": {
          "302": { "description": "Redirect to frontend with success or failure flag" }
        }
      }
    },
    "/api/v1/calcom/disconnect": {
      "post": {
        "tags": ["CalComService"],
        "summary": "Disconnect Cal.com",
        "operationId": "DisconnectCalcom",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DisconnectResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/calcom/status": {
      "get": {
        "tags": ["CalComService"],
        "summary": "Cal.com Connection Status",
        "operationId": "CalcomStatus",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CalcomStatusResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/calcom/event-types": {
      "get": {
        "tags": ["CalComService"],
        "summary": "List Cal.com Event Types",
        "operationId": "ListCalcomEventTypes",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListCalcomEventTypesResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/calcom/event-types/lookup/{platform_id}": {
      "get": {
        "tags": ["CalComService"],
        "summary": "Lookup Cal.com Event Type",
        "operationId": "LookupCalcomEventType",
        "description": "Look up an event type by ID or slug.",
        "parameters": [
          {
            "name": "platform_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Event type ID or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetCalcomEventTypeResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/calcom/appointments": {
      "get": {
        "tags": ["CalComService"],
        "summary": "List Cal.com Appointments",
        "operationId": "ListCalcomAppointments",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by status"
          },
          {
            "name": "agent_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by agent ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "format": "int32", "default": 50, "maximum": 200 },
            "description": "Number of results to return (max 200)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListCalcomAppointmentsResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Api-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "AgentStatus": {
        "type": "string",
        "enum": ["AGENT_STATUS_UNSPECIFIED", "AGENT_STATUS_ACTIVE", "AGENT_STATUS_INACTIVE"],
        "description": "Status of the agent"
      },
      "BotPosition": {
        "type": "string",
        "enum": ["BOT_POSITION_UNSPECIFIED", "BOT_POSITION_BOTTOM_RIGHT", "BOT_POSITION_BOTTOM_LEFT", "BOT_POSITION_TOP_RIGHT", "BOT_POSITION_TOP_LEFT"],
        "description": "Position of the bot widget on screen"
      },
      "Meta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "format": "int64", "description": "Total number of records" },
          "limit": { "type": "integer", "format": "int32", "description": "Page size limit" },
          "offset": { "type": "integer", "format": "int32", "description": "Pagination offset" }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique agent ID" },
          "organization_id": { "type": "string", "description": "Organization this agent belongs to" },
          "widget_settings_id": { "type": "string", "description": "Associated widget settings ID" },
          "name": { "type": "string", "description": "Internal name of the agent" },
          "agent_name": { "type": "string", "description": "Display name of the agent" },
          "status": { "$ref": "#/components/schemas/AgentStatus" },
          "model": { "type": "string", "description": "LLM model identifier" },
          "s2s_model": { "type": "string", "description": "Speech-to-speech model identifier" },
          "voice_id": { "type": "string", "description": "Voice ID for TTS" },
          "temperature": { "type": "number", "format": "double", "description": "LLM temperature setting" },
          "reminder_trigger_ms": { "type": "integer", "format": "int32", "description": "Milliseconds before sending a reminder" },
          "reminder_max_count": { "type": "integer", "format": "int32", "description": "Maximum number of reminders to send" },
          "ambient_sound": { "type": "string", "description": "Ambient sound identifier" },
          "ambient_sound_volume": { "type": "number", "format": "double", "description": "Volume of ambient sound (0.0 - 1.0)" },
          "end_call_after_silence": { "type": "boolean", "description": "Whether to end the call after silence" },
          "max_call_duration_ms": { "type": "integer", "format": "int32", "description": "Maximum call duration in milliseconds" },
          "ring_duration_ms": { "type": "integer", "format": "int32", "description": "Ring duration in milliseconds" },
          "enable_voicemail_detection": { "type": "boolean", "description": "Whether to enable voicemail detection" },
          "voicemail_message": { "type": "string", "description": "Message to leave on voicemail" },
          "voicemail_detection_timeout_ms": { "type": "integer", "format": "int32", "description": "Voicemail detection timeout in milliseconds" },
          "ivr_options": { "type": "object", "description": "IVR (Interactive Voice Response) configuration" },
          "post_call_analysis_model": { "type": "string", "description": "Model to use for post-call analysis" },
          "analysis_summary_prompt": { "type": "string", "description": "Prompt used for generating call summary" },
          "selected_tools": { "type": "object", "description": "Tools selected for this agent" },
          "integrations": { "type": "object", "description": "Integration configuration" },
          "knowledge_base": { "type": "string", "description": "Knowledge base content or reference" },
          "begin_message": { "type": "string", "description": "Opening message spoken by the agent" },
          "start_speaker": { "type": "string", "description": "Who speaks first: agent or user" },
          "created_at": { "type": "string", "description": "Creation timestamp" },
          "updated_at": { "type": "string", "description": "Last update timestamp" }
        }
      },
      "GetAgentResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Agent" }
        }
      },
      "ListAgentsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "properties": {
          "widget_settings_id": { "type": "string" },
          "name": { "type": "string" },
          "agent_name": { "type": "string" },
          "model": { "type": "string" },
          "s2s_model": { "type": "string" },
          "voice_id": { "type": "string" },
          "temperature": { "type": "number", "format": "double" },
          "reminder_trigger_ms": { "type": "integer", "format": "int32" },
          "reminder_max_count": { "type": "integer", "format": "int32" },
          "ambient_sound": { "type": "string" },
          "ambient_sound_volume": { "type": "number", "format": "double" },
          "end_call_after_silence": { "type": "boolean" },
          "max_call_duration_ms": { "type": "integer", "format": "int32" },
          "ring_duration_ms": { "type": "integer", "format": "int32" },
          "enable_voicemail_detection": { "type": "boolean" },
          "voicemail_message": { "type": "string" },
          "voicemail_detection_timeout_ms": { "type": "integer", "format": "int32" },
          "ivr_options": { "type": "object" },
          "post_call_analysis_model": { "type": "string" },
          "analysis_summary_prompt": { "type": "string" },
          "selected_tools": { "type": "object" },
          "integrations": { "type": "object" },
          "knowledge_base": { "type": "string" },
          "begin_message": { "type": "string" },
          "start_speaker": { "type": "string" }
        }
      },
      "CreateAgentResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Agent" }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "widget_settings_id": { "type": "string" },
          "name": { "type": "string" },
          "agent_name": { "type": "string" },
          "model": { "type": "string" },
          "s2s_model": { "type": "string" },
          "voice_id": { "type": "string" },
          "temperature": { "type": "number", "format": "double" },
          "reminder_trigger_ms": { "type": "integer", "format": "int32" },
          "reminder_max_count": { "type": "integer", "format": "int32" },
          "ambient_sound": { "type": "string" },
          "ambient_sound_volume": { "type": "number", "format": "double" },
          "end_call_after_silence": { "type": "boolean" },
          "max_call_duration_ms": { "type": "integer", "format": "int32" },
          "ring_duration_ms": { "type": "integer", "format": "int32" },
          "enable_voicemail_detection": { "type": "boolean" },
          "voicemail_message": { "type": "string" },
          "voicemail_detection_timeout_ms": { "type": "integer", "format": "int32" },
          "ivr_options": { "type": "object" },
          "post_call_analysis_model": { "type": "string" },
          "analysis_summary_prompt": { "type": "string" },
          "selected_tools": { "type": "object" },
          "integrations": { "type": "object" },
          "knowledge_base": { "type": "string" },
          "begin_message": { "type": "string" },
          "start_speaker": { "type": "string" }
        }
      },
      "UpdateAgentResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Agent" }
        }
      },
      "UpdateAgentStatusRequest": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/AgentStatus" }
        }
      },
      "UpdateAgentStatusResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Agent" }
        }
      },
      "AgentTool": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique tool ID" },
          "organization_id": { "type": "string", "description": "Organization this tool belongs to" },
          "name": { "type": "string", "description": "Tool name" },
          "description": { "type": "string", "description": "Tool description" },
          "type": { "type": "string", "description": "Tool type (e.g. webhook, function)" },
          "definition": { "type": "object", "description": "Tool definition schema" },
          "is_active": { "type": "boolean", "description": "Whether the tool is active" }
        }
      },
      "GetAgentToolResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/AgentTool" }
        }
      },
      "ListAgentToolsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/AgentTool" } },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "CreateAgentToolRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Tool name" },
          "description": { "type": "string", "description": "Tool description" },
          "type": { "type": "string", "description": "Tool type (e.g. webhook, function)" },
          "definition": { "type": "object", "description": "Tool definition schema" }
        }
      },
      "CreateAgentToolResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/AgentTool" }
        }
      },
      "UpdateAgentToolRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "type": { "type": "string" },
          "definition": { "type": "object" }
        }
      },
      "UpdateAgentToolResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/AgentTool" }
        }
      },
      "WidgetSettings": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique widget settings ID" },
          "bot_name": { "type": "string", "description": "Display name of the bot" },
          "bot_auto_start": { "type": "boolean", "description": "Whether the bot starts automatically" },
          "bot_position": { "$ref": "#/components/schemas/BotPosition" },
          "bot_logo": { "type": "string", "description": "URL of the bot logo image" },
          "svg_logo": { "type": "string", "description": "SVG logo content" },
          "custom_form_fields": { "type": "object", "description": "Custom form field configuration" },
          "theme": { "type": "object", "description": "Widget theme configuration" },
          "language": { "type": "string", "description": "Language code (e.g. en, fr)" },
          "consent_content": { "type": "string", "description": "Consent modal body text" },
          "consent_title": { "type": "string", "description": "Consent modal title" },
          "is_active": { "type": "boolean", "description": "Whether these widget settings are active" },
          "created_at": { "type": "string", "description": "Creation timestamp" },
          "updated_at": { "type": "string", "description": "Last update timestamp" }
        }
      },
      "GetWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/WidgetSettings" }
        }
      },
      "ListWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/WidgetSettings" } }
        }
      },
      "CreateWidgetSettingsRequest": {
        "type": "object",
        "properties": {
          "bot_name": { "type": "string" },
          "bot_auto_start": { "type": "boolean" },
          "bot_position": { "$ref": "#/components/schemas/BotPosition" },
          "bot_logo": { "type": "string" },
          "svg_logo": { "type": "string" },
          "custom_form_fields": { "type": "object" },
          "theme": { "type": "object" },
          "language": { "type": "string" },
          "consent_content": { "type": "string" },
          "consent_title": { "type": "string" }
        }
      },
      "CreateWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/WidgetSettings" }
        }
      },
      "UpdateWidgetSettingsRequest": {
        "type": "object",
        "properties": {
          "bot_name": { "type": "string" },
          "bot_auto_start": { "type": "boolean" },
          "bot_position": { "$ref": "#/components/schemas/BotPosition" },
          "bot_logo": { "type": "string" },
          "svg_logo": { "type": "string" },
          "custom_form_fields": { "type": "object" },
          "theme": { "type": "object" },
          "language": { "type": "string" },
          "consent_content": { "type": "string" },
          "consent_title": { "type": "string" }
        }
      },
      "UpdateWidgetSettingsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/WidgetSettings" }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "iso_country": { "type": "string", "description": "ISO country code" },
          "phone_number": { "type": "string", "description": "Phone number in E.164 format" },
          "price": { "type": "integer", "format": "int32", "description": "Monthly cost of the number" },
          "per_minute_price_outbound": { "type": "integer", "format": "int32", "description": "Per-minute price for outbound calls" },
          "per_minute_price_inbound": { "type": "integer", "format": "int32", "description": "Per-minute price for inbound calls" }
        }
      },
      "ListAvailableNumbersResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PhoneNumber" } }
        }
      },
      "BuyPhoneNumberRequest": {
        "type": "object",
        "properties": {
          "phone_number": { "type": "string", "description": "Phone number to purchase (E.164 format)" },
          "price": { "type": "number", "format": "double", "description": "Purchase price" },
          "per_minute_price_inbound": { "type": "integer", "format": "int32", "description": "Per-minute inbound call price" },
          "per_minute_price_outbound": { "type": "integer", "format": "int32", "description": "Per-minute outbound call price" }
        }
      },
      "PurchasedPhoneNumber": {
        "type": "object",
        "properties": {
          "phone_number": { "type": "string", "description": "The purchased phone number" },
          "price": { "type": "number", "format": "double", "description": "Price paid" },
          "status": { "type": "string", "description": "Purchase status" },
          "purchased_at": { "type": "string", "description": "Timestamp of purchase" }
        }
      },
      "BuyPhoneNumberResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/PurchasedPhoneNumber" }
        }
      },
      "ReleasePhoneNumberResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "phone_number": { "type": "string", "description": "The released phone number" },
              "status": { "type": "string", "description": "Release status" },
              "released_at": { "type": "string", "description": "Timestamp of release" }
            }
          }
        }
      },
      "PurchasedNumber": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Record ID" },
          "telephony_id": { "type": "string", "description": "Associated telephony ID" },
          "subscription_id": { "type": "string", "description": "Associated subscription ID" },
          "inbound_trunk_id": { "type": "string", "description": "Inbound SIP trunk ID" },
          "outbound_trunk_id": { "type": "string", "description": "Outbound SIP trunk ID" },
          "number": { "type": "string", "description": "Phone number in E.164 format" },
          "friendly_name": { "type": "string", "description": "Human-readable label" },
          "per_minute_price_inbound": { "type": "integer", "format": "int32", "description": "Per-minute inbound price" },
          "per_minute_price_outbound": { "type": "integer", "format": "int32", "description": "Per-minute outbound price" },
          "price": { "type": "integer", "format": "int32", "description": "Monthly price" },
          "region": { "type": "string", "description": "Region" },
          "iso_country": { "type": "string", "description": "ISO country code" },
          "is_active": { "type": "boolean", "description": "Whether the number is active" },
          "created_at": { "type": "string", "description": "Creation timestamp" },
          "updated_at": { "type": "string", "description": "Last update timestamp" }
        }
      },
      "ListPurchasedNumbersResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PurchasedNumber" } }
        }
      },
      "ImportPhoneNumberRequest": {
        "type": "object",
        "properties": {
          "phone": { "type": "string", "description": "Phone number to import (E.164 format)" },
          "type": { "type": "string", "description": "Type of phone number (e.g. sip, pstn)" },
          "name": { "type": "string", "description": "Friendly name for the number" },
          "termination_uri": { "type": "string", "description": "SIP termination URI" },
          "sip_username": { "type": "string", "description": "SIP username for authentication" },
          "sip_password": { "type": "string", "description": "SIP password for authentication" }
        }
      },
      "ImportPhoneNumberResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "phone": { "type": "string" },
              "type": { "type": "string" },
              "name": { "type": "string" },
              "termination_uri": { "type": "string" },
              "sip_username": { "type": "string" },
              "sip_password": { "type": "string" },
              "status": { "type": "string" },
              "created_at": { "type": "string" }
            }
          }
        }
      },
      "CreateTelephonyTypeRequest": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "description": "Telephony provider type (e.g. twilio, vonage)" },
          "owner_type": { "type": "string", "description": "Owner type (e.g. organization, user)" },
          "friendly_name": { "type": "string", "description": "Human-readable label for this telephony config" },
          "client_id": { "type": "string", "description": "Provider client/account ID" },
          "client_secret": { "type": "string", "description": "Provider client secret or auth token" }
        }
      },
      "CreateTelephonyTypeResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "type": { "type": "string" },
              "owner_type": { "type": "string" },
              "friendly_name": { "type": "string" },
              "status": { "type": "string" },
              "created_at": { "type": "string" },
              "termination_uri": { "type": "string" },
              "sip_username": { "type": "string" },
              "sip_password": { "type": "string" }
            }
          }
        }
      },
      "ListTwilioOwnedNumbersResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sid": { "type": "string", "description": "Twilio SID" },
                "phone_number": { "type": "string", "description": "Phone number in E.164 format" },
                "friendly_name": { "type": "string", "description": "Friendly label" },
                "status": { "type": "string", "description": "Number status" },
                "date_created": { "type": "string", "description": "Date created in Twilio" },
                "voice": { "type": "boolean", "description": "Voice capability enabled" },
                "sms": { "type": "boolean", "description": "SMS capability enabled" },
                "mms": { "type": "boolean", "description": "MMS capability enabled" }
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "Health status", "example": "healthy" },
          "service": { "type": "string", "description": "Service name", "example": "integration_service" },
          "time": { "type": "string", "description": "Current UTC timestamp" }
        }
      },
      "ReadyResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "Readiness status", "example": "ready" }
        }
      },
      "UnreadyResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "Readiness status", "example": "unready" },
          "error": { "type": "string", "description": "Reason for unreadiness", "example": "database connection failed" }
        }
      },
      "ManageAppointmentRequest": {
        "type": "object",
        "required": ["action", "agent_id", "org_id"],
        "properties": {
          "action": {
            "type": "string",
            "enum": ["book", "reschedule", "cancel", "suggest", "availability"],
            "description": "The appointment action to perform"
          },
          "agent_id": { "type": "string", "description": "UUID of the agent handling the appointment" },
          "org_id": { "type": "string", "description": "UUID of the organization" },
          "name": { "type": "string", "description": "Customer full name (required for book)" },
          "email": { "type": "string", "description": "Customer email (required for book if no phone)" },
          "phone": { "type": "string", "description": "Customer phone in E.164 format (required for book if no email)" },
          "appointment_datetime": { "type": "string", "description": "ISO 8601 datetime for book or reschedule" },
          "appointment_id": { "type": "string", "description": "Existing appointment ID (required for cancel and reschedule)" },
          "call_session_id": { "type": "string", "description": "Optional call session ID for book" },
          "notes": { "type": "string", "description": "Optional notes for the appointment" },
          "days_ahead": { "type": "integer", "format": "int32", "description": "Days ahead to look for available slots (default: 7, max: 30). Used for suggest and availability." }
        }
      },
      "ManageAppointmentResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string", "description": "Natural language message to relay directly to the user" },
          "data": {
            "type": "object",
            "properties": {
              "success": { "type": "boolean" },
              "message": { "type": "string" },
              "summary": { "type": "string", "description": "Short label (e.g. Appointment confirmed, Cancelled, Rescheduled)" },
              "action": { "type": "string", "description": "The action that was performed" },
              "appointment_id": { "type": "string", "description": "Appointment ID (returned for book, reschedule, cancel)" },
              "date_time": { "type": "string", "description": "Confirmed appointment datetime in ISO 8601" },
              "agent_name": { "type": "string", "description": "Name of the agent handling the appointment" },
              "action_required": { "type": "string", "description": "Next action required if the request could not be completed (e.g. reschedule)" },
              "available_slots": {
                "type": "array",
                "description": "Available time slots grouped by date (returned for suggest, availability, and slot-unavailable responses)",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": { "type": "string", "description": "Date in YYYY-MM-DD format" },
                    "date_label": { "type": "string", "description": "Human-readable date label (e.g. Today, Tomorrow)" },
                    "slots": { "type": "array", "items": { "type": "string" }, "description": "Available time slots (e.g. 9:00 AM)" }
                  }
                }
              }
            }
          }
        }
      },
      "SlotUnavailableResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "message": { "type": "string" },
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "SLOT_UNAVAILABLE" },
              "message": { "type": "string" },
              "details": {
                "type": "object",
                "properties": {
                  "summary": { "type": "string" },
                  "action": { "type": "string" },
                  "action_required": { "type": "string", "example": "reschedule" },
                  "agent_name": { "type": "string" },
                  "available_slots": { "type": "array", "items": { "type": "object" } }
                }
              }
            }
          }
        }
      },
      "GHLAppointment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "ghl_appointment_id": { "type": "string" },
          "contact_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "agent_name": { "type": "string" },
          "contact_name": { "type": "string" },
          "contact_email": { "type": "string" },
          "contact_phone": { "type": "string" },
          "appointment_time": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "ListGHLAppointmentsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "appointments": { "type": "array", "items": { "$ref": "#/components/schemas/GHLAppointment" } },
              "count": { "type": "integer" }
            }
          }
        }
      },
      "GetGHLAppointmentResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/GHLAppointment" }
        }
      },
      "GHLSetupStatusResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "ghl_connected": { "type": "boolean" },
              "location_id": { "type": "string" },
              "company_id": { "type": "string" },
              "token_valid": { "type": "boolean" },
              "agents_created": { "type": "boolean" },
              "agent_count": { "type": "integer" },
              "setup_complete": { "type": "boolean" },
              "message": { "type": "string" },
              "next_step": { "type": "string", "description": "One of: CONNECT_GHL, CREATE_AGENT, or empty string when fully set up" }
            }
          }
        }
      },
      "GHLCalendar": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "locationId": { "type": "string" },
          "serviceTitle": { "type": "string" }
        }
      },
      "ListGHLCalendarsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "calendars": { "type": "array", "items": { "$ref": "#/components/schemas/GHLCalendar" } },
              "count": { "type": "integer" }
            }
          }
        }
      },
      "GetGHLAgentByCalendarResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "agent_id": { "type": "string" },
              "agent_name": { "type": "string" },
              "calendar_id": { "type": "string" },
              "is_active": { "type": "boolean" },
              "created_at": { "type": "string" }
            }
          }
        }
      },
      "DisconnectResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "object", "nullable": true }
        }
      },
      "CalcomStatusResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "connected": { "type": "boolean" },
              "status": { "type": "string", "description": "One of: active, not_connected" },
              "token_expires": { "type": "string", "description": "Token expiry timestamp (when connected)" },
              "error": { "type": "string" },
              "message": { "type": "string", "description": "Returned when not connected" }
            }
          }
        }
      },
      "CalcomEventType": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "duration_minutes": { "type": "integer" },
          "price": { "type": "number" },
          "currency": { "type": "string" },
          "is_active": { "type": "boolean" }
        }
      },
      "ListCalcomEventTypesResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/CalcomEventType" } }
        }
      },
      "GetCalcomEventTypeResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/CalcomEventType" }
        }
      },
      "CalcomAppointment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "organization_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "calcom_booking_uid": { "type": "string" },
          "attendee_name": { "type": "string" },
          "attendee_email": { "type": "string" },
          "attendee_phone": { "type": "string" },
          "attendee_timezone": { "type": "string" },
          "start_time": { "type": "string" },
          "end_time": { "type": "string" },
          "duration_minutes": { "type": "integer" },
          "meeting_url": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "ListCalcomAppointmentsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "appointments": { "type": "array", "items": { "$ref": "#/components/schemas/CalcomAppointment" } },
              "count": { "type": "integer" }
            }
          }
        }
      }
    }
  }
}

