{
  "openapi": "3.0.1",
  "info": {
    "title": "Agni API",
    "version": "1.0.0",
    "description": "Agni API for managing agents, tools, widget settings, telephony, and integrations."
  },
  "servers": [
    {
      "url": "https://api.ravan.ai"
    }
  ],
  "security": [
    {
      "X-Api-Key": []
    }
  ],
  "tags": [
    {
      "name": "AgentService"
    },
    {
      "name": "AgentToolService"
    },
    {
      "name": "WidgetSettingsService"
    },
    {
      "name": "PhoneService"
    },
    {
      "name": "AppointmentService"
    },
    {
      "name": "CalComService"
    },
    {
      "name": "HealthService"
    },
    {
      "name": "ContactService"
    },
    {
      "name": "RAGService"
    },
    {
      "name": "WebhookService"
    },
    {
      "name": "CampaignService"
    }
  ],
  "paths": {
    "/api/v1/agents/{id}/": {
      "get": {
        "tags": [
          "AgentService"
        ],
        "summary": "Get Agent",
        "operationId": "GetAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AgentService"
        ],
        "summary": "Update Agent",
        "operationId": "UpdateAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentService"
        ],
        "summary": "Delete Agent",
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/": {
      "get": {
        "tags": [
          "AgentService"
        ],
        "summary": "List Agents",
        "operationId": "ListAgents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentService"
        ],
        "summary": "Create Agent",
        "operationId": "CreateAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{id}/status/": {
      "patch": {
        "tags": [
          "AgentService"
        ],
        "summary": "Update Agent Status",
        "operationId": "UpdateAgentStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools/{id}/": {
      "get": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Get Agent Tool",
        "operationId": "GetAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgentToolResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Update Agent Tool",
        "operationId": "UpdateAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentToolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAgentToolResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Delete Agent Tool",
        "operationId": "DeleteAgentTool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools/": {
      "get": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "List Agent Tools",
        "operationId": "ListAgentTools",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentToolsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentToolService"
        ],
        "summary": "Create Agent Tool",
        "operationId": "CreateAgentTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentToolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentToolResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/widget-settings/{id}/": {
      "get": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Get Widget Settings",
        "operationId": "GetWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget Settings ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWidgetSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Update Widget Settings",
        "operationId": "UpdateWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget Settings ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWidgetSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Deactivate Widget Settings",
        "operationId": "DeactivateWidgetSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget Settings ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/widget-settings/": {
      "get": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "List Widget Settings",
        "operationId": "ListWidgetSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWidgetSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "WidgetSettingsService"
        ],
        "summary": "Create Widget Settings",
        "operationId": "CreateWidgetSettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWidgetSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/available-numbers/{iso_country}/": {
      "get": {
        "tags": [
          "PhoneService"
        ],
        "summary": "List Available Numbers",
        "operationId": "ListAvailableNumbers",
        "parameters": [
          {
            "name": "iso_country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO country code (e.g. US, GB)"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Number of results per page"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Region filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAvailableNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/buy/": {
      "post": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Buy Phone Number",
        "operationId": "BuyPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyPhoneNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/{phone_number}/release/": {
      "delete": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Release Phone Number",
        "operationId": "ReleasePhoneNumber",
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The phone number to release (E.164 format, e.g. +12025551234)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleasePhoneNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/list": {
      "get": {
        "tags": [
          "PhoneService"
        ],
        "summary": "List Purchased Numbers",
        "operationId": "ListPurchasedNumbers",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Region filter"
          },
          {
            "name": "iso_country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO country code filter"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPurchasedNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/import/": {
      "post": {
        "tags": [
          "PhoneService"
        ],
        "summary": "Import Phone Number",
        "operationId": "ImportPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPhoneNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway \u2014 the server received an invalid response from an upstream service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Service temporarily unavailable",
                  "error": {
                    "code": "BAD_GATEWAY",
                    "message": "Unable to reach upstream service. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/import": {
      "get": {
        "tags": ["PhoneService"],
        "summary": "List Imported Numbers",
        "operationId": "ListImportedPhoneNumbers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListImportedPhoneNumbersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/import/{id}": {
      "get": {
        "tags": ["PhoneService"],
        "summary": "Get Imported Number",
        "operationId": "GetImportedPhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Imported phone number record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImportPhoneNumberResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Imported number not found", "error": { "code": "NOT_FOUND", "message": "No imported number exists with the given ID" } }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["PhoneService"],
        "summary": "Update Imported Number",
        "operationId": "UpdateImportedPhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Imported phone number record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateImportedPhoneNumberRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImportPhoneNumberResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Imported number not found", "error": { "code": "NOT_FOUND", "message": "No imported number exists with the given ID" } }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["PhoneService"],
        "summary": "Delete Imported Number",
        "operationId": "DeleteImportedPhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Imported phone number record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeleteImportedPhoneNumberResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Imported number not found", "error": { "code": "NOT_FOUND", "message": "No imported number exists with the given ID" } }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/create/telephony": {
      "post": {
        "tags": ["PhoneService"],
        "summary": "Create Telephony Type",
        "operationId": "CreateTelephonyType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTelephonyTypeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateTelephonyTypeResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 3, "message": "Invalid request parameters", "details": [] }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/add-twilio": {
      "post": {
        "tags": ["PhoneService"],
        "summary": "Add Twilio Number",
        "operationId": "AddTwilioNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddTwilioNumberRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddTwilioNumberResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 3, "message": "Invalid request parameters", "details": [] }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/selected-telephony": {
      "get": {
        "tags": ["PhoneService"],
        "summary": "Get Selected Telephony",
        "operationId": "GetSelectedTelephony",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetSelectedTelephonyResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GrpcErrorResponse" },
                "example": { "code": 16, "message": "API key is missing or invalid", "details": [] }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "No telephony provider configured", "error": { "code": "NOT_FOUND", "message": "No telephony type has been selected for this organization" } }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "success": false, "message": "Something went wrong on our end", "error": { "code": "INTERNAL_ERROR", "message": "An unexpected error occurred. Please try again later." } }
              }
            }
          }
        }
      }
    },
    "/api/v1/phone-numbers/twilio-owned-numbers/": {
      "get": {
        "tags": [
          "PhoneService"
        ],
        "summary": "List Twilio Owned Numbers",
        "operationId": "ListTwilioOwnedNumbers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTwilioOwnedNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 invalid parameters, missing required fields, or malformed request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 3,
                  "message": "invalid uuid \"abc\": invalid UUID length: 3",
                  "details": []
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrpcErrorResponse"
                },
                "example": {
                  "code": 16,
                  "message": "API key is missing or invalid",
                  "details": []
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 your API key does not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "You do not have permission to perform this action",
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Insufficient permissions for this resource"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 an unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Something went wrong on our end",
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "502": {
[...]
